* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body > h1 {
    margin: 20px;
    text-align: center;
}

.widget-container {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.price-widget {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    padding: 20px;
    border: 3px solid #000;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.widget-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
}

.widget-body > button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: grey;
    color: white;
}

@media screen and (max-width: 700px) {    
    .widget-container {
        flex-direction: column;
    }
}

